.project-title {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img {
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: stretch;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
  .repo-cards-div-main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .repo-cards-div-main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main {
    grid-template-columns: 1fr;
  }
}
